:host{
  display: flex;
  justify-content: center;
  background: #1b38bd;
  background: -webkit-linear-gradient(to right, #00934e, #67cf43, #fadf1a);
  background: linear-gradient(to right, #00934e, #67cf43, #fadf1a);
}

.example-card {
    max-width: 400px;
  }
  
  /*.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }*/

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  .example-full-width{
    width: 100%;
  }

.logo-span{
  display: flex;
  justify-content: center;
  margin-bottom: 40px;

  img{
      width: 180px;
  }
}

.container-button-enter{
  display: flex;
  justify-content: center;

  button{
    background-color: gray;
  }
}

.container-buttons{
  display: flex;
  justify-content: space-between;
}

.section-container{
  /*width: 100vh;*/
  height: 100vh;  
  display: flex;
  justify-content: center;
  align-items: center;
  /*background-color:gray;*/
}