:host{
  display: flex;
  justify-content: center;
  }
  .example-card {
      max-width: 400px;
    }
    
    .example-header-image {
      background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
      background-size: cover;
    }
  
    .example-form {
      min-width: 150px;
      max-width: 500px;
      width: 100%;
    }
  
    .example-full-width{
      width: 100%;
    }
  
  .logo-span{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }  
    
  .container-buttons{
    display: flex;
    justify-content: space-around;

    .button-cancel{
      color: #fff;
      background-color: red;
    }

    .button-save{
      color: #fff;
      background-color: gray;
    }
  }
  
  .section-container{
    margin: 120px;
  }